
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
    padding: 0;
}

ol,
ul,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* temp resets to go into YOS */
main {
    display: block;
}

input {
    margin: 0;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
}

a {
    color: #2b2b2b;
    text-decoration: none;
    cursor: pointer;
}

iframe {
    border: 0;
}

button {
    background-color: transparent;
}

[data-whatintent='touch'] *:focus,
[data-whatintent='mouse'] *:focus {
    outline: none;
}

[data-whatintent='keyboard'] *:focus {
    outline-color: var(--focus-default);
}


